<div *ngIf="customer">
  <h2>{{customer.name | uppercase}} </h2>
  <!-- <div><span>id: </span>{{hero.id}}</div> -->
  <!-- <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label><br>

    <label>Email:
      <input [(ngModel)]="hero.email" placeholder="Email"/>
    </label><br>

    <label>Mobile:
      <input [(ngModel)]="hero.mobile" placeholder="name"/>
    </label>

  </div> -->
  <button routerLink="/orderlist/{{customerId}}">Orders</button><br>
  <button routerLink="/view/{{customerId}}">Detail</button><br>
  <button routerLink="/update/{{customerId}}">Edit</button><br>
  <button (click)="delete(hero)">Delete</button><br>
</div>
